---
title: 市场上的合作伙伴
---

<!Doctype html>
<html id="partners">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="users">
	<main>
		<div class="intro">
			<h1>ThingsBoard 市场</h1>
			<h5>ThingsBoard 即将推出一个软件市场，以分发自定义的 ThingsBoard 组件，如小部件、预配置仪表板、规则链和其他项目。
				市场将在 2023 年的所有 CE 和 PE 安装中提供。
			</h5>

			<h3>对于客户</h3>
			<h5>市场将允许您探索由 100 多个 ThingsBoard 贡献者和技术合作伙伴提供的物联网解决方案和 ThingsBoard 组件。</h5>

			<h3>对于卖家</h3>
			<h5>我们欢迎您成为 ThingsBoard 市场上的卖家，并将您的免费和付费产品分发给数千名 ThingsBoard 客户。
				这是提交有关您的定制产品信息的早期呼吁。我们将使用此信息来准备市场。</h5>
			<h5>先到者将获得优先列表和付费产品的最低市场费用。
				免费内容的顶级发布者将按月获得 ThingsBoard 团队的贵重礼物：高达 100% 的许可折扣、支持和其他奖励。
			</h5>

			<p class="button-section" align="center">
				<a class="button" href="https://forms.gle/pBtyPCXtzke4HmNE6">成为卖家</a>
			</p>
		</div>
	</main>
</section>

<div class="background"><img src="/images/partners/hardware-map.svg" alt="硬件地图"><div class="fill"></div></div>

{% include footer.html %}
{% include case-study-styles.html %}

<style>
	{% include marketplace-style.css %}
</style>

{% include cookie-consent.html %}

</body>
</html>