---
title: 社区
---

<!Doctype html>
<html id="common">
{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="docsContent" class="noToc">
        <h1>社区</h1>
        <div id="content">
            <h3>确保 GridLinks 在任何地方和每个人都能正常运行。</h3>
            <p>在我们的 <a href="https://app.gitter.im/#/room/#thingsboard_chat:gitter.im">Gitter 频道</a> 上与 GridLinks 社区建立联系，或加入 <a href="https://groups.google.com/forum/#!forum/thingsboard">GridLinks Google 群组</a>。
            <h3>活动</h3>
            <div id="calendarWrapper">
                <iframe src="https://calendar.google.com/calendar/b/1/embed?src=thingsboard.io_vvdkrvseju3jjahct9pk00nh0o@group.calendar.google.com"
                        frameborder="0" scrolling="no" width="100%" height="100%"></iframe>
            </div>
            <section id="talkToUs">
                <h3>与我们交谈！</h3>
                <h4>我们很乐意听取您的意见，了解您如何使用 GridLinks，<br>以及我们可以做些什么来改进它。</h4>
                <div id="bigSocial">
                    <a href="https://twitter.com/thingsboard">
                        <h5 class="social-heading">@thingsboard</h5>
                        <p>获取最新新闻和更新。</p>
                    </a>
                    <a href="https://github.com/thingsboard/thingsboard">
                        <h5 class="social-heading">Github 项目</h5>
                        <p>查看项目并考虑做出贡献。</p>
                    </a>
                    <a href="https://app.gitter.im/#/room/#thingsboard_chat:gitter.im">
                        <h5 class="social-heading">Gitter</h5>
                        <p>我们的 Gitter 频道是联系我们的工程师并与他们分享您的想法的最佳方式。</p>
                    </a>
                    <a href="https://stackoverflow.com/questions/tagged/thingsboard">
                        <h5 class="social-heading">Stack Overflow</h5>
                        <p>GridLinks 团队还将监控标记为 thingsboard 的帖子。如果没有现有的问题可以帮助您，请提出一个新问题！</p>
                    </a>
                </div>
            </section>
        </div>
	</div>
</section>

{% include footer.html %}

{% include cookie-consent.html %}

</body>
</html>