---
title: GridLinks — 现代化的物联网平台
customTitle: "true"
description: GridLinks 是一个现代化的物联网平台，用于物联网项目的设备管理、数据收集、处理和可视化。
---

<!Doctype html>
<html id="home" lang="en">

{% include head-header.html productTag="ce" %}

<!--  HERO  -->
<main>
	<section id="hero" class="light-text">
		<div class="video-cover"></div>
		<div id="hero-content">
			<span class="header-animation tb-title">GridLinks</span>
			<span class="header-animation tb-title">现代化的物联网云平台</span>
			<h4 class="header-animation tb-sub-title">物联网解决方案的设备管理、数据收集、处理和可视化</h4>
			<div class="header-animation">
				<a href="#intro" class="button learn-tb">了解更多</a>
			</div>
			<div class="tb-arrow">
				<a href="#intro" aria-label="Link to main heading"><i class="fa fa-chevron-down fa-2x"></i></a>
			</div>
		</div>
	</section>

	<section id="overflow">
		<section id="tb-customers">
			<div class="main-div">
				<a href="/industries/telecom/#tmobile" aria-label="T-mobile logo"><object data="https://img.thingsboard.io/customers/clear/t-mobile.svg"></object></a>
				<a href="https://www.bosch.com/" aria-label="Bosch logo"><object data="https://img.thingsboard.io/customers/clear/bosch.svg"></object></a>
				<a href="https://www.prosegur.com/" aria-label="Prosegur logo"><object data="https://img.thingsboard.io/customers/clear/prosegur.svg"></object></a>
				<a href="http://www.engie.sk/en/kontakt" aria-label="Engie logo"><object data="https://img.thingsboard.io/customers/clear/engie.svg"></object></a>
				<a href="/industries/smart-energy/#circutor" aria-label="Circutor logo"><object data="https://img.thingsboard.io/customers/clear/circutor.svg"></object></a>
				<a href="/industries/telecom/#tektelic" aria-label="Tektelic logo"><object data="https://img.thingsboard.io/customers/clear/tektelic.svg"></object></a>
			</div>
		</section>

		<section id="intro">
			<div class="main-div">
				<h1><a href="docs/getting-started-guides/what-is-thingsboard/">GridLinks</a>是用于数据收集、处理、可视化和设备管理的现代物联网平台。</h1>
				<h2 class="second in-the-past-h1">它通过行业标准的物联网协议：MQTT、CoAP、SNMP、LWM2M、Modbus、OPC UA和HTTP实现设备连接并支持私有云和本地部署；Thingsboard具有弹性伸缩、高容错性和性能极致的特点保证永远不会丢失数据。</h2>
			</div>
		</section>

		<section id="manage">
			<div class="main-div">
				<div id="features-top">
					<div class="background">
						<div class="main1"></div><div class="small1"></div><div class="small2"></div><div class="small3"></div><div class="small4"></div>
					</div>
					<div class="block">
						<div class="feature-des"><span class="phrase-heading">配置和管理设备和资产</span>
							<p>使用丰富的服务器端 API 以安全的方式配置、监控和控制您的 IoT 实体。 定义您的设备、资产、客户或任何其他实体之间的关系。</p>
							<a class="read-more-button" href="/docs/user-guide/entities-and-relations/">了解更多<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about entities and relations arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third mobile-arrow" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="manage">
						<img class="device-list" src="/images/device-list.svg" alt="带有复选框的设备列表">
						<img class="device-manage" src="/images/device-manage.svg" alt="设备管理面板">
						</div>
					</div>
					<div class="block vis">
						<div class="visualize">
							<img class="vis1" src="/images/visualize1.svg" alt="线性图">
							<img class="vis2" src="/images/visualize2.svg" alt="常见的带点的图表">
							<img class="vis3" src="/images/visualize3.svg" alt="数字等级图">
						</div>
						<div class="feature-des"><span class="phrase-heading">收集和可视化数据</span>
							<p>以可扩展和容错的方式收集和存储遥测数据。 使用内置或自定义小部件和灵活的仪表板可视化您的数据。 与您的客户共享仪表板。</p>
							<a class="read-more-button" href="/docs/user-guide/visualization/">了解更多<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about visualization arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="react">
			<div class="main-div">
				<div id="features-top-2">
					<div class="background">
						<div class="main2"></div><img src="/images/grid.svg" alt="Grid backgrount"><div class="small5"></div><div class="small6"></div>
					</div>
					<div class="block dark">
						<div class="feature-des"><span class="phrase-heading">处理和响应</span>
							<p>定义数据处理规则链，转换和规范化您的设备数据。在传入的遥测事件、属性更新、设备假死和用户操作时响应警报。</p>
							<a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">了解更多<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about rule engine arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
						<div class="process">
							<img class="react" src="/images/react.svg" alt="Rule nodes chain">
							<div></div>
							<img class="add-rule" src="/images/add-rule.svg" alt="Add rule node example">
						</div>
					</div>
					<div class="block micro">
						<img src="/images/microservices.svg" alt="Microservices block schema">
						<div class="feature-des microservices"><h2>微服务</h2>
							<p>使用新的微服务架构，构建Thingsboard集群并获得最大的可扩展性和容错能力。ThingsBoard还支持云和本地部署。</p>
							<a class="read-more-button" href="/docs/reference/msa/">了解更多<img class="arrow first" src="/images/pe/read-more-arrow.svg" alt="Read more about microservices arrow"><img class="arrow second" src="/images/pe/read-more-arrow.svg" alt=""><img class="arrow third" src="/images/pe/read-more-arrow.svg" alt=""></a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="products">
			<div class="main-div">
				<div class="background">
					<div class="products"></div><div class="small7"></div><div class="small8"></div>
				</div>
				<h3 class="product-title">产品</h3>
				<div class="product-list">
					<div>
						<p>GridLinks</p>
						<h2>社区版</h2>
						<h3>将您的想法变为现实</h3>
						<img src="/images/community.svg" alt="社区版 block">
						<a href="/docs/">请阅读社区版文档</a>
					</div>
					<div class="main">
						<p>GridLinks</p>
						<h2>云服务</h2>
						<h3>将所有内容保存在安全的云中</h3>
						<img src="/images/cloud.svg" alt="云服务版本 block">
						<a href="/products/paas/">请阅读云服务文档</a>
					</div>
					<div>
						<p>GridLinks</p>
						<h2>专业版</h2>
						<h3>获取ThingsBoard的所有功能</h3>
						<img src="/images/professional.svg" alt="专业版 block">
						<a href="/products/thingsboard-pe/">请阅读专业版文档</a>
					</div>
				</div>
				<div class="row justify-content-center">
					<a href="products/">所有产品</a>
				</div>
			</div>
		</section>

		<section id="dashboard_description">
			<div class="main-div">
				<div class="background">
					<div class="dashboards"></div><div class="small9"></div><div class="small10"></div>
				</div>
				<h3>实时物联网仪表板</h3>
				<p>ThingsBoard允许您创建丰富的物联网仪表板，用于实时数据可视化和远程设备控制。超过 30 个可自定义的小部件允许您为大多数物联网案例构建最终用户自定义仪表板。</p>
				<div class="usecase-carousel owl-carousel owl-theme">
					<div class="dashboard-item">
						<div class="item-description">
							<h2>智慧能源</h2>
							<p>以可靠且容忍性的方式传递并存储数据，可视化可定制的最终用户仪表板的实时和历史消耗数据，与第三方分析框架和解决方案集成。</p>
							<a class="read-more-button dash" href="/smart-energy/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/smart-energy/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/smart-energy/se4.png"></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>智慧农业</h2>
							<p>通过物联网传感器收集重要指标，例如土壤条件或设施状态，并使用Things Boards平台提供的最终用户可自定义的仪表板对其进行可视化。</p>
							<a class="read-more-button dash" href="/smart-farming/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/smart-farming/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/smart-farming/sf1.png" /></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>车辆定位</h2>
							<p>ThingsBoard台允许通过各种传感器跟踪车辆状态和警报，实时绘制车辆路线，并使用可自定义的高质量小部件和仪表板同时浏览其传感器阅读历史记录。</p>
							<a class="read-more-button dash" href="/fleet-tracking/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/fleet-tracking/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/fleet-tracking/ft3.png" /></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>智能计量</h2>
							<p>以可靠且容忍性的方式收集，存储和汇总数据。 分析资源消耗并提高有关泄漏，异常或欺诈的警报。 分析的最终用户的结果。</p>
							<a class="read-more-button dash" href="/smart-metering/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/smart-metering/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/smart-metering/sm1.png" /></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>环境监控</h2>
							<p>使用广泛的传感器监视和分析室内和室外环境。 Thingsboard支持使用现代连接技术和协议的数据获取：NB IoT，Lorawan，Sigfox，MQTT，CoAP，HTTP，LWM2M等。</p>
							<a class="read-more-button dash" href="/use-cases/environment-monitoring/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/environment-monitoring/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/environment-monitoring/em1.png" /></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>智慧办公</h2>
							<p>确保员工健康和安全以提高组织生产力。 通过监视和控制办公室室内气候来优化资源消耗。 Thingsboard提供了丰富的数据可视化，功能强大的处理引擎，遥控器和OTA更新功能。</p>
							<a class="read-more-button dash" href="/use-cases/smart-office/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/smart-office/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/smart-office/so1.png" /></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<h2>水量监测</h2>
							<p>使用物品板启用水消耗数据收集，分析和水质检测。 使用互动仪表板，使管理员和最终用户可以浏览水表状态和汇总水消耗统计数据。 在短信和电子邮件上启用警报，并与外部计费系统集成。</p>
							<a class="read-more-button dash" href="/use-cases/water-metering/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/water-metering/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/water-metering/wm4.png" /></a>
						</div>
					</div>
					<div class="dashboard-item">
						<div class="item-description">
							<H2>智能零售</h2>
							<p>通过监视冷却器和冷冻机来控制食物存储的质量。 确保使用智能货架可用。 使用运动检测和火警确保安全。 Thingsboard提供了一个解决方案模板来监视超市资产，浏览历史数据并根据用户定义的阈值生成警报。</p>
							<a class="read-more-button dash" href="/use-cases/smart-retail/">更多信息<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
						</div>
						<div class="item-image-container">
							<a class="img-button" href="/use-cases/smart-retail/"><div class="overlay"><div class="eye"><img src="/images/eye-icon.svg">查看更多</div></div><img class="item-image" src="/images/usecases/smart-retail/sr3.png" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<a href="products/">所有产品</a>
			</div>
		</section>

		<section id="rule-engine">
			<main>
				<div class="rule">
					<a class="rule-button img-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/"><div class="overlay"><div class="eye"><img src="images/eye-icon.svg">查看更多</div></div><img src="images/demo/send-email-rule-chain.gif"></a>
					<div class="des"><h3>规则引擎</h3>
						<p>GridLinks 允许您创建复杂的<a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">规则琏</a>来处理来自您设备的数据并匹配您的应用程序特定案例。</p>
						<a class="read-more-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">了解更多<img class="arrow first" src="/images/pe/read-more-arrow.svg"><img class="arrow second" src="/images/pe/read-more-arrow.svg"><img class="arrow third" src="/images/pe/read-more-arrow.svg"></a>
					</div>
				</div>
			</main>
		</section>


		<section id="bottom-features">
			<div class="main-div">
				<div class="background">
					<div class="bottom-features1"></div><div class="bottom-features2"></div><div class="small11"></div><div class="small12"></div><div class="bottom-features3"></div><div class="small13"></div><div class="small14"></div><div class="small15"></div>
				</div>
				<h3>ThingsBoard特性</h3>
				<div id="cards" class="row">
					<div class="col-lg-6">
						<div class="block">
							<img src="/images/telemetry-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/telemetry/">遥测数据收集</a>
								<p>以可靠的方式收集和存储遥测数据，在网络和硬件故障中幸存下来。使用可自定义的 Web 仪表板或服务器端 API 访问收集的数据。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/tenancy-icon.svg">
							<div>
							<a class="title" href="/docs/user-guide/ui/tenants/">多租户</a>
							<p>支持开箱即用的多租户安装。单个租户可能有多个租户管理员和数百万台设备和客户。
							</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/visualization-icon.svg">
							<div>
							<a class="title" href="/docs/user-guide/visualization/">数据可视化</a>
							<p>提供 30 多个开箱即用的可配置小部件，并能够使用内置编辑器创建您自己的小部件。内置折线图、数字和模拟仪表、地图等等。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/scalability-icon.svg">
							<div>
								<a class="title" href="/docs/reference/#thingsboard-services">横向扩展</a>
								<p>随着在集群模式下添加新的 thingsboard 服务器，支持的服务器端请求和设备的数量线性增加。没有停机、服务器重启或应用程序错误。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/engine-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">规则引擎</a>
								<p>使用基于实体属性或消息内容的灵活规则链处理传入的设备数据。使用自定义逻辑将数据转发到外部系统或触发警报。在警报上配置复杂的通知链。使用高度可定制的规则丰富服务器端功能或操纵您的设备。使用拖放式规则链设计器定义您的应用程序逻辑。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/tolerance-icon.svg">
							<div>
								<a class="title" href="/docs/reference/#thingsboard-services">高可用</a>
								<p>所有thingsboard服务器都是相同的。没有主从或双机热备。自动检测节点故障。可以在不停机的情况下更换故障节点。使用可靠的 NoSQL 数据库复制持久数据。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/device-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/ui/devices/">设备管理</a>
								<p>提供注册和管理设备的能力。允许监视客户端和提供服务器端<a href="/docs/user-guide/attributes/">设备属性</a>为服务器端应用程序提供 API，以将<a href="/docs/user-guide/rpc/">RPC命令</a>发送到设备反之亦然</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/security-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/device-credentials/">安全</a>
								<p>支持 MQTT 和 HTTP(s) 协议的传输加密。支持设备身份验证和设备凭据管理。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/asset-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/ui/assets/">资产管理</a>
								<p>提供注册和管理资产的能力。允许提供服务器端<a href="/docs/user-guide/attributes/">资产属性</a>和监控相关<a href="/docs/user-guide/alarms/">警报</a>。能够使用<a href="/docs/user-guide/entities-and-relations/">关系</a>构建实体层次结构。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/integration-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/contribution/how-to-contribute/">定制和集成</a>
								<p>使用可自定义的<a href="/docs/user-guide/rule-engine-2-0/re-getting-started/">规则链</a>，<a href="/docs/user-guide/ui/widget-library/">部件</a>和<a href="/docs/reference/protocols/">传输组件</a>实现功能扩展，除了 MQTT、CoAP 和 HTTP 支持之外，ThingsBoard 户还可以使用自己的传输实现或自定义现有协议的行为</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/alarms-icon.svg">
							<div>
								<a class="title" href="/docs/user-guide/alarms/">警报管理</a>
								<p>提供创建和管理与您的实体相关的<a href="/docs/user-guide/alarms/">警报</a> 的能力：设备、资产、客户等。允许实时警报监控和警报传播到相关实体层次结构。对设备断开连接或不活动事件发出警报。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/opensource-icon.svg">
							<div>
								<a class="title" href="https://github.com/thingsboard/thingsboard">100% 开源</a>
								<p>ThingsBoard在Apache License 2.0下获得许可，因此你可以在你的商业产品中免费使用它。您甚至可以将其托管为 SaaS 或 PaaS 解决方案。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/microservices-icon.svg">
							<div>
								<a class="title" href="/docs/reference/#monolithic-vs-microservices-architecture">微服务或单体</a>
								<p>支持入门或小型环境的<a href="/docs/reference/monolithic/">单体部署</a>。提供升级到<a href="/docs/reference/msa/">微服务</a>的能力，以实现高可用性和水平可扩展性。</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="block"><img src="/images/database-icon.svg">
							<div>
								<a class="title" href="/docs/reference/#sql-vs-nosql-vs-hybrid-database-approach">SQL、NoSQL 和混合数据库</a>
								<p>支持各种数据库选项以及选择存储主要实体和存储遥测数据的位置的能力</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</main>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}

	#rule-engine .rule.hidden {
		display: none
	}
</style>

<script>
	var isMobile = window.innerWidth < 768 || /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
	var videoSection = document.querySelector('#hero.light-text');

	if (isMobile) {
		videoSection.setAttribute('style', 'background: center no-repeat url(https://img.thingsboard.io/tb-cover.jpg)');
	} else {
		videoSection.setAttribute('data-vide-bg', `mp4: https://video.thingsboard.io/tb-cover2.mp4,
											  webm: https://video.thingsboard.io/tb-cover2.webm,
											  ogv: https://video.thingsboard.io/tb-cover2.ogv,
											  poster: https://img.thingsboard.io/tb-cover.jpg`);
		videoSection.setAttribute('data-vide-options', 'bgColor: #000000, loop: true, muted: true, posterType: jpg');
	}

</script>


<script>

	jqueryDefer(initOwl);

	jqueryDefer(function () {
		vis(function() {
			if (vis()) {
				slideUp();
			}
		});

		$('#hero-content > .tb-arrow > a, #hero-content a.learn-tb').click(function(event) {
			event.preventDefault();
			var target = $('#intro');
			$('html, body').animate({
				scrollTop: target.offset().top - 60 //header height
			}, 1000, "easeOutCirc");
		});

	});

	inViewportDefer(function() {

		$("#hero-content").inViewport(function(px){
			if($(this).height()-px >= 60) {
				$(this).addClass("arrow-hidden");
			} else {
				$(this).removeClass("arrow-hidden");
			}
		});

		$("#intro .image-wrapper, #intro .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#main-features main:nth-child(odd) .image-wrapper, #main-features main:nth-child(even) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInRight");
				return true;
			}
		});

		$("#main-features main:nth-child(even) .image-wrapper, #main-features main:nth-child(odd) .content").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated bounceInLeft");
				return true;
			}
		});

		$("#rule_engine main").inViewport(function(px){
			if(px >= 100) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#tb-customers .customers-container .customer-block").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .features-title").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});

		$("#features .feature-box div").inViewport(function(px){
			if(px >= 150) {
				$(this).addClass("animated fadeInUp");
				return true;
			}
		});

	});

	function slideUp() {
		var headAnimations = $('#hero-content').find('.header-animation');
		for (var i=0;i<headAnimations.length;i++) {
			reinsert($(headAnimations[i]));
		}
	}

	function reinsert(el) {
		var newone = el.clone(true);
		el.before(newone);
		el.remove();
	}

	function initOwl() {
		var scriptsList = [
            {src: '/css/owl.carousel.min.css', type: 'css'},
            {src: '/css/owl.theme.default.min.css', type: 'css'},
            {src: '/js/owl.carousel.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
                        $('.owl-carousel').owlCarousel({
                            items:1,
                            margin:50,
                            stagePadding: 0,
                            autoHeight:true,
                            loop:true,
                            autoplay:true,
                            autoplayTimeout:5000,
                            autoplayHoverPause:true,
                            nav:false,
                            responsive: {
                                1025: {
                                    nav:true,
                                }
                            }
						});
					});
				}
		);
	}

</script>

{% include cookie-consent.html %}

</body>
</html>

