<section class="modal-wizard hidden">
  <button class="btn-close" onClick="closeWizard(event)">&#10005;</button>
  <div class="modal-wizard__content">
    <h3 class="modal-wizard__header">Trendz 分析平台</h3>
    <p class="modal-wizard__text">
      您离获得一个强大的分析工具又近了一步，它将帮助您发展业务并预测变化
    </p>
  </div>
  <div id="choose-plan">
    <div class="options">
      <div class="options__container" id="cloud-option" onClick="openChosenPlan('cloud-content')">
        <span>云</span>
      </div>
      <div class="options__container" id="self-managed-option" onClick="openChosenPlan('self-managed-content')">
        <span>自管理</span>
      </div>
      <div class="background bg-left" id="options-bg"></div>
    </div>
    <div id="cloud-content" class="tab-content">
      <div class="steps-container">
        <div class="step step-1">
          <h4 class="step__header">步骤 1</h4>
          <p class="step__content">登录 ThingsBaord Cloud 帐户并选择“计划和计费”菜单选项。按“更新计划”按钮</p>
        </div>
        <div class="step step-2">
          <h4 class="step__header">步骤 2</h4>
          <p class="step__content">选择“ThingsBoard + Trendz”并选择最适合您的计划</p>
        </div>
        <div class="step step-3">
          <h4 class="step__header">步骤 3</h4>
          <p class="step__content">重新加载页面，在 GridLinks 菜单中查看新的“Trendz Analytics”选项</p>
        </div>
      </div>
      {% include images-gallery.html imageCollection="cloudPlan" max-width="100%" align="space-between" %}
      <div class="modal-wizard__button">
        <a href="https://gridlinks.codingas.com/billing" target="_blank" onClick="goToPurchase(event, 'cloud')">转到 GridLinks Cloud</a>
      </div>
    </div>
    <div id="self-managed-content" class="tab-content">
        <div class="steps-container" >
          <div class="step step-1">
            <h4 class="step__header">步骤 1</h4>
            <p class="step__content">登录许可证门户并创建新的 Trendz Analytics 订阅</p>
          </div>
          <div class="step step-2">
            <h4 class="step__header">步骤 2</h4>
            <p class="step__content">获取您的许可证密钥</p>
          </div>
          <div class="step step-3">
            <h4 class="step__header">步骤 3</h4>
            <p class="step__content">
              按照
              <a href="/docs/trendz/install/installation-options/">安装 Trendz 的说明</a>
              将 Trendz Analytics 安装到您的服务器的说明
            </p>
          </div>
        </div>
        {% include images-gallery.html imageCollection="selfManagedPlan" max-width="100%" align="space-between" %}
        <div class="modal-wizard__button">
          <a href="https://license.docs.codingas.com" target="_blank" onClick="goToPurchase(event, '{{ include.defaultPlan }}')">转到许可证门户</a>
        </div>
    </div>
  </div>
  <div id="go-to-portal">
    <div class="text-container">
      <div class="text-block">
        <p class="header">做得好！您已全部设置完毕！</p>
        <p>如果您想有效地使用您的帐户，请查看我们为您准备的资料：</p>
      </div>
      <div class="text-block">
        <p>
          我们详细的
          <a href="/docs/trendz/">文章 </a>
          关于如何使用 Trendz 功能
        </p>
        <p>
          我们简单快速的
          <a href="https://www.youtube.com/playlist?list=PLYEKB_XwLCZIs-_Aoos3CdNIqSYrXk4LN">“操作方法”视频</a>
        </p>
      </div>
    </div>
    <div class="modal-wizard__button">
      <a href="/docs/trendz/">文档</a>
    </div>
  </div>
</section>

<script>
  let chosenPlan;
  function openTrendzWizard(e, id, plan){
    e.preventDefault();
    $('.modal-wizard').removeClass('hidden');
    $('body').css('overflow', 'hidden');

    openChosenPlan(id);
    $('#choose-plan').css('display', 'flex');
    $('#go-to-portal').hide();

    if(plan) {
      chosenPlan = plan;
      console.log(plan)
    }
  }

  function openChosenPlan(id){
    $(`.tab-content`).hide();
    $(`#${id}`).show();

    if(id === 'cloud-content') {
      $('#options-bg').removeClass('bg-right');
      $('#options-bg').addClass('bg-left');
      $('#cloud-option').addClass('selected');
      $('#self-managed-option').removeClass('selected');
    } else {
      $('#options-bg').removeClass('bg-left');
      $('#options-bg').addClass('bg-right');
      $('#cloud-option').removeClass('selected');
      $('#self-managed-option').addClass('selected');
    }
  }
  function closeWizard(e){
    e.preventDefault();
    $('.modal-wizard').addClass('hidden');
    $('body').css('overflow', 'auto');
  }

  function goToPurchase(e, plan){
    $('#go-to-portal').css('display', 'flex');
    $('#choose-plan').hide();

    if(!plan) plan = chosenPlan;

    reportTrendzWizrdAction('wizard', plan);

    if(plan === 'maker') {
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '10ba4770-e4f4-11ed-aaaa-83bc8f41f932', 'Trendz Analytics Maker', 'OK1GGQ4XLQ')
    } else if(plan === 'prototype') {
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '2985f1a0-7afd-11ea-951e-b77b877a367b', 'Trendz Analytics Prototype', 'OK1GGQ4XLQ')
    } else if(plan === 'startup'){
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '018b7520-7afe-11ea-951e-b77b877a367b', 'Trendz Analytics Business', 'OK1GGQ4XLQ')
    } else if(plan === 'business') {
      getLicense(e, false, '31307df0-11f6-11ea-951e-b77b877a367b', '6e3bb4f0-7afe-11ea-951e-b77b877a367b', 'Trendz Analytics Business', 'OK1GGQ4XLQ')
    }
  }

  function getLicense(event, isPerpetual, productId, planId, productName, coupon) {
    event.preventDefault();
    var url = "https://license.docs.codingas.com/signup?createSubscription=true&perpetual=";
    if (isPerpetual) {
      url += "true";
    } else {
      url += "false";
    }
    url += "&productId="+productId;
    url += "&planId="+planId;
    if (coupon) {
      url += "&coupon="+coupon;
    }

    window.open(url, "_blank");
  }

  function reportTrendzWizrdAction(link, product) {
    if (!ga.hasOwnProperty("loaded") || ga.loaded !== true || !link || !product) {
      return;
    }
    ga("send", "event", "TrendzWizrdAction", product, link);
  }
</script>