---
title: GridLinks 安装
customTitle: "true"
description: GridLinks 是一个创新的物联网平台，用于物联网项目的设备管理、数据收集、处理和可视化
---
<!Doctype html>
<html id="installations">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<div class="container">
	<div class="install-header">
		<nav id="inner-navigation" class="inner-navigation">
			<ul id="menu-install-navigation-1" class="menu">
				<li id="menu-item-thingsboard-cloud" class="menu-item active tb-logo">
					<a href="javascript:void(0);" onClick="activatePricingSection('thingsboard-cloud')">云服务</a>
				</li>
				<li id="menu-item-thingsboard-ce" class="menu-item tb-logo">
					<a href="javascript:void(0);" onClick="activatePricingSection('thingsboard-ce')">社区<span class="hidden-title">版</span></a>
				</li>
				<!-- <li id="menu-item-thingsboard-pe" class="menu-item tb-logo">
					<a href="javascript:void(0);" onClick="activatePricingSection('thingsboard-pe')">专业<span class="hidden-title">版</span></a>
				</li> -->
				<li id="menu-item-thingsboard-edge" class="menu-item tb-logo">
					<a href="javascript:void(0);" onClick="activatePricingSection('thingsboard-edge')">边缘</a>
				</li>
				<li id="menu-item-thingsboard-trendz" class="menu-item tb-logo">
					<a href="javascript:void(0);" onClick="activatePricingSection('thingsboard-trendz')">数据分析</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="pricing-header-divider">
	</div>
</div>

<div id="thingsboard-cloud" class="install-content">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1> GridLinks云服务</h1>
				<div class="install-content-details">
					<p>GridLinks云服务是一个完全托管的、可伸缩的和容错的平台，专为您的物联网 应用程序而设。GridLinks Cloud 适用于所有想要使用 GridLinks专业版但不想托管平台自己的实例的用户。
						</p>
				</div>
				<div class="row container button-container">
					<a class="btn-blue" href="https://gridlinks.codingas.com">
						功能演示
					</a>
					<a class="btn-blue" href="#">
						定价
					</a>
					<!-- <a class="btn-blue" href="/pricing/">
						定价
					</a> -->
				</div>
			</div>
			<div class="col d-flex justify-content-start">
				<div class="image-content">
					<img src="/images/install/thingsboard-pe-smart-building-energy-meter.png" alt="GridLinks 云服务 智能建筑能源表" class="bg">
					<img src="/images/install/thingsboard-pe-smart-building-company.png" alt="GridLinks 云服务 智能建筑公司" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/products/thingsboard-pe/#advanced-thingsboard-iot-platform-distribution-with-value-added-features">更多功能</a>
						<p>
							平台支持所有社区版功能。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/getting-started-guides/helloworld-pe/">缩短上市时间</a>
						<p>
							节省平台维护或功能配置的时间。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/pricing/">降低成本</a>
						<p>
							集群基础设施的成本由平台的用户分摊。
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/reference/msa/">高可用性</a>
						<p>
							GridLinks 云服务 使用微服务架构，并部署在多个可用性区域中。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/reference/msa/">数据耐久性</a>
						<p>
							平台使用数据复制和备份过程来确保您不会丢失数据。
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="thingsboard-ce" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1>GridLinks社区版</h1>
				<div class="install-content-details">
					<p>用于设备管理、数据收集、处理和可视化的创新的物联网平台。<a href="/docs/">了解更多</a>。</p>
				</div>
				<div class="row container button-container">
          <a class="btn-blue" href="/docs/user-guide/install/installation-options/">
            安装
          </a>
					<a class="btn-blue" href="https://gridlinks.codingas.com/signup">
						在线演示
					</a>
				</div>
			</div>
			<div class="col d-flex justify-content-start">
				<div class="image-content">
					<img src="/images/install/thingsboard-ce-smart-energy.png" alt="网关社区版智慧能源仪表盘" class="bg">
					<img src="/images/install/thingsboard-ce-smart-bus-tracking.png" alt="网关社区版智慧公交追踪仪表盘" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">规则引擎</a>
						<p>
							使用强大的规则引擎组件定义数据处理规则并触发反应。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/reference/msa/">微服务</a>
						<p>
							构建您的网关集群，并使用新的微服务架构将可伸缩性和容错性最大化。
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/visualization/">数据收集和可视化</a>
						<p>
							收集并存储遥测数据。使用灵活的仪表板可视化您的数据。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/entities-and-relations/">设备和资产管理</a>
						<p>
							配置、监控和控制您的物联网实体。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>部署选项</h2>
			<div class="wrapper">
				<div class="column">
					<h3 class="premise">本地</h3>
					<div class="deployment-cards">
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/ubuntu/" class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/rhel/" class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/windows/" class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/rpi/" class="deployment-logo">
								<img width="" src="/images/install/platform/rpi3.svg" title="Raspberry Pi 3" alt="Raspberry Pi 3">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/docker-windows/" class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/docker/" class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux 或 Mac OS)" alt="Docker (Linux 或 Mac OS)">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/building-from-source/" class="deployment-logo">
								<img width="" src="/images/install/platform/sources.svg" title="从源构建" alt="从源构建">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/cluster-setup/" class="deployment-logo">
								<img width="" src="/images/install/platform/cluster-ce.svg" title="集群设置" alt="集群设置">
							</a>
						</div>
					</div>
				</div>
				<dic class="divider"></dic>
				<div class="column">
					<h3 class="cloud">云</h3>
					<div class="deployment-cards">
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/aws/" class="deployment-logo">
								<img height="70px" width="" src="/images/install/cloud/aws.svg" title="AWS" alt="AWS">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/digital-ocean/" class="deployment-logo">
								<img width="" src="/images/install/cloud/digitalocean.svg" title="DigitalOcean" alt="DigitalOcean">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/gcp/" class="deployment-logo">
								<img width="" src="/images/install/cloud/gcp.svg" title="Google Cloud Platform" alt="Google Cloud Platform">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="thingsboard-pe" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1> GridLinks专业版</h1>
				<div class="install-content-details">
					<p>先进的物联网平台发行版，基于最新的稳定开源版本，具有增值特性。 <a href="/products/thingsboard-pe/">阅读更多内容</a>。</p>
				</div>
				<div class="row container button-container">
					<a class="btn-blue" href="/docs/user-guide/install/pe/installation-options/">
						安装
					</a>
					<a class="btn-blue" href="https://gridlinks.codingas.com/signup">
						免费试用
					</a>
					<a class="btn-blue" href="/pricing/">
						定价
					</a>
				</div>
			</div>
			<div class="col d-flex justify-content-start">
				<div class="image-content">
          <img src="/images/install/thingsboard-pe-smart-building-energy-meter.png" alt="GridLinks智能建筑能耗表" class="bg">
          <img src="/images/install/thingsboard-pe-smart-building-company.png" alt="GridLinks智能建筑公司" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/white-labeling/">品牌定制</a>
						<p>
							多租户可配置品牌定制。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/groups/">实体组</a>
						<p>
							自定义实体组（设备、资产等）具有可定制的操作和可配置的列。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/rbac/">针对物联网的高级 RBAC</a>
						<p>
							高级用户角色和权限管理。管理客户层级结构。
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/csv-xls-data-export/">CSV/XLS 数据导出</a>
						<p>
							将任何仪表板小部件数据导出为 CSV 或 XLS 格式。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/user-guide/integrations/">平台集成</a>
						<p>
							开箱即用，集成流行的物联网平台和连接提供商。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<span class="item-title">
							<a href="/docs/user-guide/scheduler/">调度器</a>&nbsp;和 <a href="/docs/user-guide/reporting/">报告</a>
						</span>
						<p>
							安排各种类型的事件，并具有灵活的调度配置。
							使用仪表板可视化功能生成外观精美的报告。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>部署选项</h2>
			<div class="wrapper">
				<div class="column">
					<h3 class="premise">本地</h3>
					<div class="deployment-cards">
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/ubuntu/" class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/rhel/" class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/windows/" class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/docker-windows/" class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/docker/" class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux 或 Mac OS)" alt="Docker (Linux 或 Mac OS)">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/cluster-setup/" class="deployment-logo">
								<img width="" src="/images/install/platform/cluster.svg" title="集群设置" alt="集群设置">
							</a>
						</div>
					</div>
				</div>
				<dic class="divider"></dic>
				<div class="column">
					<h3 class="cloud">云</h3>
					<div class="deployment-cards">
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/aws/" class="deployment-logo">
								<img height="70px" width="" src="/images/install/cloud/aws.svg" title="AWS" alt="AWS">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/azure/" class="deployment-logo">
								<img width="" src="/images/install/cloud/azure.svg" title="Microsoft Azure" alt="Microsoft Azure">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/digital-ocean/" class="deployment-logo">
								<img width="" src="/images/install/cloud/digitalocean.svg" title="DigitalOcean" alt="DigitalOcean">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/pe/gcp/" class="deployment-logo">
								<img width="" src="/images/install/cloud/gcp.svg" title="Google Cloud Platform" alt="Google Cloud Platform">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="thingsboard-edge" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1>GridLinks边缘</h1>
				<div class="install-content-details">
					<p>使数据分析和管理与数据创建的位置边缘紧密相关。同时，GridLinks边缘 可根据您的业务需求与 GridLinks 云端无缝同步（GridLinks 云端，GridLinks 演示，GridLinks 社区版）。<a href="/products/thingsboard-edge/">阅读更多内容</a>。</p>
				</div>
				<div class="row container button-container">
					<a class="btn-blue" href="/docs/user-guide/install/edge/installation-options/">
						安装边缘
					</a>
					<a class="btn-blue" href="#">
						定价
					</a>
					<!-- <a class="btn-blue" href="/pricing/?active=thingsboard-edge">
						定价
					</a> -->
				</div>
			</div>
			<div class="col d-flex justify-content-start">
				<div class="image-content">
					<img src="/images/install/thingsboard-ce-smart-bus-tracking.png" alt="GridLinks边缘 智能公交跟踪仪表盘" class="bg">
					<img src="/images/install/thingsboard-ce-smart-energy.png" alt="GridLinks边缘 智能能源仪表盘" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">本地部署和存储</a>
						<p>
							在不连接到云端的情况下，处理并存储边缘（本地）设备的数据。在连接恢复后将更新推送到云端。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">流量过滤</a>
						<p>
							在 GridLinks边缘 服务上过滤边缘（本地）设备的数据，仅将数据子集推送到云端，以便进一步处理或存储。
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">本地报警</a>
						<p>
							在现场即时响应危急情况，而无需连接到云端。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/edge/getting-started-guides/what-is-edge/">批量更新和可视化</a>
						<p>
							单击一下可更新数千个边缘配置。使用实时仪表盘监控本地事件和时序数据。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>部署选项</h2>
			<div class="wrapper">
				<div class="column">
					<div class="deployment-cards">
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/edge/deb-installation/" class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/edge/rhel/" class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/edge/windows/" class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/edge/docker-windows/" class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker (Windows)" alt="Docker (Windows)">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/user-guide/install/edge/docker/" class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker (Linux or Mac OS)" alt="Docker (Linux or Mac OS)">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="thingsboard-trendz" class="install-content" style="display: none">
	<div class="container">
		<div class="install-content-header row">
			<div class="install-content-description col-lg-7">
				<h1>Trendz 分析</h1>
				<div class="install-content-details">
					<p>GridLinks Trendz 是一个分析平台，可将物联网数据集转化为洞察，并简化决策过程。 <a href="/products/trendz/">阅读更多内容</a>。</p>
				</div>
				<div class="row container button-container">
					<a class="btn-blue" href="/docs/trendz/">
						文档
					</a>
					<a class="btn-blue" href="#">
						定价
					</a>
					<!-- <a class="btn-blue" href="/pricing/?section=trendz-options&product=trendz-self-managed&solution=trendz-pay-as-you-go">
						定价
					</a> -->
				</div>
			</div>
			<div class="col d-flex justify-content-start">
				<div class="image-content">
					<img src="/images/trendz/predict-screen.png" alt="GridLinks Trendz 时序预测" class="bg">
					<img src="/images/trendz/dashboard-screen.png" alt="GridLinks Trendz 温室仪表盘" class="main">
				</div>
			</div>
		</div>
		<div class="feature">
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/prediction/">预测故障并预测利用率</a>
						<p>
							通过对未来事件和系统行为的洞察，规划和优化运营。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/anomaly/anomaly-detection-overview/">检测异常</a>
						<p>
							使用基于内置机器学习算法的自动化工具检测异常。对它们进行优先级排序，并关注具有异常得分的实际问题。
						</p>
					</div>
				</div>
			</div>
			<div class="column">
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/calculated-fields/">KPI 监控</a>
						<p>
							根据输入数据，计算字段允许您通过应用计算来运行统计函数并创建新的数据项。
						</p>
					</div>
				</div>
				<div class="item-row">
					<div class="item-text">
						<a class="item-title" href="/docs/trendz/getting-started/">自助服务分析</a>
						<p>
							为用户提供简单的仪器，以便在几分钟内回答他们自己的问题。
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="deploy">
			<h2>部署选项</h2>
			<div class="wrapper">
				<div class="column">
					<div class="deployment-cards">
						<div class="deployment-card-block">
							<a href="/docs/trendz/install/cloud/" class="deployment-logo">
								<img src="/images/install/platform/trendz-cloud.svg" title="Trendz 云" alt="Trendz 云">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/trendz/install/ubuntu/" class="deployment-logo">
								<img src="/images/install/platform/ubuntu.svg" title="Ubuntu" alt="Ubuntu">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/trendz/install/rhel/" class="deployment-logo">
								<img width="" src="/images/install/platform/centos-redhat.svg" title="CentOS/RHEL" alt="CentOS/RHEL">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/trendz/install/windows/" class="deployment-logo">
								<img width="" src="/images/install/platform/windows.svg" title="Windows" alt="Windows">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="/docs/trendz/install/docker-windows/" class="deployment-logo">
								<img src="/images/install/platform/docker-windows.svg" title="Docker（Windows）" alt="Docker（Windows）">
							</a>
						</div>
						<div class="deployment-card-block">
							<a href="https://docs.codingas.com/docs/trendz/install/docker/" class="deployment-logo">
								<img width="" src="/images/install/platform/docker-linux-macos.svg" title="Docker（Linux 或 Mac OS）" alt="Docker（Linux 或 Mac OS）">
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include footer.html %}

<script>
	inViewportDefer(function() {
		$("#install-cards main").inViewport(function(px){
			if(px >= 80) {
				$(this).addClass("animated zoomIn");
				return true;
			}
		});
	});

	jqueryDefer(function () {
		activatePricingSection('thingsboard-cloud')
	})

	function activatePricingSection(sectionId) {
		$("li.menu-item").removeClass("active");
		$("li.menu-item#menu-item-"+sectionId).addClass("active");
		$("div.install-content").css("display", "none");
		$("div.install-content#"+sectionId).css("display", "block");
	}
</script>

{% include cookie-consent.html %}

</body>
</html>

