<!Doctype html>
<html id="careers">

{% include head-header.html %}

<section id="hero" class="light-text">
</section>

<section id="encyclopedia">
    <div id="carsContent" class="noToc">

        <a class="back" href="/careers/"><img src="/images/careers/back_arrow.svg" alt="返回职业箭头">返回职业</a>

        <div id="vacancy">
            <div class="head">
                <h1 style="font-weight: 600;">{{ page.position }}</h1>
                <div>
                    <div class="location">{{page.location}}<img src="/images/careers/location_icon.svg" alt="位置图标"></div>
                    <p class="date">{{page.dateString}}</p>
                </div>
            </div>

            {{ content }}

            <div id="mailBlock">
                <p class="mailTitle">通过邮件发送您的简历：</p><a class="mail" href='mailto:hr@docs.codingas.com?subject=ThingsBoard中的工作申请'>hr@docs.codingas.com</a>
                <a class="buttonApply" href='mailto:hr@docs.codingas.com?subject=ThingsBoard中的工作申请'>立即申请</a>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}

{% include cookie-consent.html %}

</body>
</html>